:root{
    --sections-titles: 4rem;
    --primary-font-color: RGB(44, 62, 80);
    --bg-color-primary: aliceblue;
    --bg-color-secondary: #ff8d58;
    --gray-color-font: RGB(44, 62, 80);
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "NTR", sans-serif;
    scroll-behavior: smooth;
}

h3{
    font-size: var(--sections-titles);
}

/* HEADER //////////////////////////*/
.header{
    display: flex;
    justify-content: center;
    background-color: #006691;
    position: sticky;
    top: 0;
}

nav{
    display: flex; 
    gap: 30vw;
    align-items: center;
}

#nav-links{
    display: flex;
    gap: 3vw;
}

#nav-links a:hover{
    color: var(--bg-color-secondary);
    transition: 500ms;
}

#nav-links a{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--bg-color-primary);
    padding: 0 0.5em 0 0.5em;
}

#logo{
    font-size: 3rem;
}

#logo a{
    color: var(--bg-color-primary);
    font-weight: 500;
}

/* SECTION BANNER /////////////////////////*/
.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
    background-color: #ff8d58;
    color: var(--bg-color-primary);
}

#my-pic img{
    border-radius: 60%;
    border: solid rgb(255, 251, 45) 4px;
}

.banner h2{
    font-size: var(--sections-titles);
    text-shadow: 0px 0px 2px rgba(0,0,0,0.4);
}

.banner h3{
    font-size: 1.5rem;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.4);
}

/* ICONO DIVISOR /////////////////////////////// */
.icon-divider{
    display: flex;
    align-items: center;
    gap: 1em;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.63);
}

.icon-divider hr{
    width: 120px;
    height: 4px;
    background-color: var(--bg-color-primary);
    border: none;
    border-radius: 5px;
    text-shadow: 0px 0px 2px rgba(0,0,0,0.63);
}

.icon-divider span{
    font-size: 3rem;
}


/* SECTION QUIEN SOY? /////////////////////////// */
.quien-soy{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
}
.quien-soy hr{
    background-color: var(--gray-color-font);
}

.quien-soy span{
    color: var(--primary-font-color);
}

.quien-soy h3{
    color: var(--primary-font-color);
}

.quien-soy p{
    font-size: 1.3rem;
}

#quien-soy-descripcion{
    display: flex;
}

#quien-soy-descripcion iframe{
    border: none;
    width: 100%;
}

/* SECTION HABILIDADES ////////////////////////// */
.habilidades{
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.habilidades hr{
    background-color: var(--gray-color-font);
}

.habilidades h3{
    color: var(--gray-color-font);
}

.habilidades .icon-divider{
    color: var(--gray-color-font);
}

.habilidades p{
    font-size: 1.3rem;
    padding-bottom: 5em;
}





/* SECTION PROYECTOS //////////////////////////// */
.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7vh;
    background-color: var(--bg-color-secondary);
}
.proyectos h3{
    color: var(--bg-color-primary);
}

.proyectos hr{
    color: var(--bg-color-primary);
    
}

.proyectos span{
    color: var(--bg-color-primary);
}

#proyectos-grid{
    display: grid;
    grid-template-columns: repeat(3, 280px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;   
    padding: 3rem;
    gap: 4em;
}

#proyectos-grid h4{
    color: var(--bg-color-primary);
    justify-self: center;
}

.wrap-single-proyect{
    border: solid black 2px;
    border-radius: 4%;
    background-image: url("https://picsum.photos/200/200");
}

#habilidades-descripcion{
    display: flex;
    justify-content: center;
    align-items: center;
}

#habilidades-descripcion iframe{
    border: none;

}

/* SECTION FORMULARIO ///////////////////////////////// */
.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario hr{
    background-color: var(--gray-color-font);
}

.formulario h3{
    color: var(--gray-color-font);
}

.formulario .icon-divider{
    color: var(--gray-color-font);
}

.formulario p{
    font-size: 2rem;
    color: var(--gray-color-font);
}

/* FOOTER ///////////////////////////////////////////// */

footer p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray-color-font);
    font-size: 1.5rem;
}

footer hr{
    width: 90%;
    align-items: center;
    justify-self: center;
    background-color: var(--gray-color-font);
}




